# Dependencias
node_modules/

# Archivos generados para producción
dist/

# Variables de entorno
.env
.env.*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Archivos del sistema
.DS_Store
Thumbs.db

# Configuración de editores
.vscode/
.idea/

# Archivos temporales
*.tmp
*.temp